header{
    width: 800px;
    margin: 0auto;
    padding: 50px;
    background-color: #eee;
    border: 1px solid blueviolet;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}

div{
    width: 800px;
    margin: 0auto;
    padding: 50px;
    text-align: center;
}

button{
    padding: 20px;
    font-weight: bold;
}

button:haver{
    background-color: black;
    color: white;
}   
